.titulo {
    text-align: center;
}

.colorAppBar {
    background-color: black!important;
}

.colorBottom {
    border-style: solid;
    border-bottom-color: #CF95D8;
}

.colorText {
    font-style: white !important;
}

.text-decorator-none {
    text-decoration: none !important;
}
.cursor{
    cursor: pointer;
    color: white;
}