.imagem2{
     background-image: url(https://cdn.discordapp.com/attachments/882496817550483510/902791004803989525/flores.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}